@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "../src/components/Navbar/Navbar.css";
@import "../src/components/Intro/Introduction.css";
@import "../src/components/Footer/Footer.css";
@import "../src/components/Projects/Projects.css";
@import "../src/components/Contact/Contact.css";
*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  overscroll-behavior-y: none;
}
html {
  scroll-behavior: smooth;
}

:root {
  --clr-white: #c4ceee;
  --clr-dark-blue: #192841;
  --color-primary: #3162b1;
  --color-secondary: #375585;
  --color-tertiary: #23375a;
  --color-quaternary: #152238;
  --color-quinary: #0b111d;
}
.test {
  font-size: 50rem;
}

body {
  /* background: linear-gradient(178deg, #111d33, #495f84, #334b74, #94add6); */
  /* background-size: 200% 200%; */

  overflow-x: hidden;
  background-attachment: fixed;
  background-color: #152238;
  background-image: url("../public/assets/topology.svg");
}
.resize-animation-stopper * {
  animation-delay: 0ms !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -100px;
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -100px;
  }
}

@keyframes dropDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@keyframes slideInLeft {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}
@keyframes slideInRight {
  from {
    right: -100px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes spring {
  0% {
    transform: scaleX(1);
  }
  80% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes wobble {
  25% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
}
