@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap");
.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

code *,
.card-data,
.card {
  font-family: "Inconsolata", monospace !important;
  font-weight: 200;
  font-size: 1.2rem;
}

code {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: clamp(45%, 79vw, 450px);
  height: 100%;
}
.card-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin: auto;
}

.card {
  background-color: #11181f;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card .line-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.03);
}
.card .line-numbers > div {
  padding: 2.5px 0;
  opacity: 0.15;
}
.card .string {
  color: #9ccc65;
}
.string:hover,
.string a:hover {
  font-weight: 700;
  color: #4d9100;
}
.email {
  cursor: pointer;
}
.card code,
.card .line-numbers {
  color: whitesmoke;
}
code > span,
code > div {
  padding: 2.5px;
}

.card svg {
  margin: 10px;
}
.card code {
  padding: 20px;
}
.card .indent {
  padding-left: 30px;
}
.card .operator {
  color: #4dd0e1;
}

.card .variable {
  color: #ba68c8;
}
.card .property {
  color: #ef5350;
}
.card .method {
  color: #29b6f6;
}
.card .function {
  color: #fdd835;
}
.card .boolean {
  color: #4dd0e1;
}
.copied:before {
  content: "Copied!";
  font-weight: 700;
  padding: 10px;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #323232;
  color: #fff;
  display: block;
  z-index: 2;
  user-select: none;
  animation: appear 0.4s;
}
@keyframes appear {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}
@media (max-width: 450px) {
  .card .indent {
    padding-left: 10px;
  }
  code * {
    font-size: 0.9rem !important;
  }
}
