.intro-container {
  padding: 100px clamp(2.5rem, 8vw, 6rem) clamp(2rem, 10vh, 6rem)
    clamp(2.5rem, 10vw, 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: var(--clr-white);
  width: 100%;
  margin-top: 5rem;
}
.name,
.description,
hr,
.skills-container,
.logo.intro {
  position: relative;
  opacity: 0;
}
hr {
  width: inherit;
  margin: 10px 0;
  animation: fadeIn 1s forwards;
  animation-delay: 3.5s;
}
.first-name,
.last-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 3.5rem;
}
.role {
  margin-bottom: 20px;
  color: white;
}

.name {
  font-size: clamp(2rem, 8vw, 4rem);
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  animation: fadeIn 1s forwards, dropDown 1s forwards;
  animation-delay: 0.5s;
  user-select: none;
}

.role {
  font-size: clamp(1.5rem, 4vw, 3.5rem);
}
.description {
  animation: fadeIn 1s forwards;
  animation-delay: 3.5s;
  max-width: 33rem;
  text-align: justify;
}
.description p {
  margin-top: 10px;
}

.wobbles.active {
  animation-delay: 0.2s;
  animation: wobble 0.6s forwards;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s forwards;
  animation-delay: 3.5s;
}
.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3px;
}
.skill-icon {
  width: 50px;
  height: 50px;
}
.skill-name {
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  .skills-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-self: center;
  }
  .intro-container {
    margin-top: 2rem;
  }
}
@media (max-width: 400px) {
  .name {
    flex-direction: column;
    gap: 0px;
  }
  .skills-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .first-name,
  .last-name,
  .role {
    line-height: 1.9rem;
  }
  .description {
    text-align: left;
  }
}
