.projects-container,
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 3.5s;
  padding: 100px clamp(2.5rem, 8vw, 6rem) clamp(2rem, 10vh, 6rem)
    clamp(2.5rem, 10vw, 10rem);
}
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-connector {
  height: 50px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.project-description {
  background-color: #1b2e63;
  padding: 2rem;
  height: 100%;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
}

.project-description li {
  list-style: disc;
  font-size: 1rem;
  margin: 2px 0;
}
.project-description-header {
  color: white;
}
.project-description-item b {
  color: white;
}
.project[data-project="wishlist"] {
  background-image: url("../../public/assets/wishlist.jpg");
}
.project[data-project="shorturl"] {
  background-image: url("../../public/assets/shorturl.png");
}
.project-description-container {
  width: clamp(80%, 80vw, 800px);
  transition: all 1.2s ease;
  transition-delay: 0.5s;
  transform: translateY(-100px);
  opacity: 0;
  z-index: -1;
}
.project {
  width: clamp(80%, 80vw, 800px);
  margin-top: 100px;
  height: 21rem;
  position: relative;
  transition: all 0.35s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
}

.project::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: "";
  background: #1c1d25;
  opacity: 0.6;
  z-index: 2;
}
.projects-header-container,
.contact-header-container {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  font-size: 2.5rem;
}

.projects-header-line:after,
.contact-header-line:after {
  background-color: var(--clr-white);
  content: "";
  display: inline-block;
  height: 2px;
  margin-left: 20px;
  position: relative;
  top: -5px;
  width: clamp(60px, 20vw, 500px);
}
.reveal.left {
  transform: translateX(-150px);
}
.reveal.right {
  transform: translateX(150px);
}

.reveal {
  position: relative;
  /* transform: translateY(150px); */
  opacity: 0;
  transition: 1.2s all ease-in-out;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;

  /* animation: fadeIn 1s forwards, slideInLeft 1s forwards; */
}

.desc-active {
  transform: translateY(0);
  opacity: 1;
}

.project-details-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  left: 2rem;
  padding-right: 20px;
  bottom: 2rem;
  color: #fff;
  z-index: 10;
  -webkit-transform: scale(1) translateX(0);
  transform: scale(1) translateX(0);
  transition: opacity 0.25s, -webkit-transform 0.45s;
  transition: transform 0.45s, opacity 0.25s;
  transition: transform 0.45s, opacity 0.25s, -webkit-transform 0.45s;
}
.project-left,
.project-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-right {
  flex-direction: row;
}

.project-btn,
button {
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  padding: 0;
  border: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
}
.project-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #f06449;
  background: linear-gradient(270deg, #f06449, #ef3636);
  color: #fff;
  position: relative;
  transition: all 0.3s;
}
button {
  background-image: none;
}
button:active,
button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
button.button-disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}
.project-btn .btn-text {
  position: relative;
  z-index: 10;
}
.project-btn .btn-mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.project-btn .btn-mask:after,
.project-btn .btn-mask:before {
  will-change: transform;
}
.project-btn .btn-mask:before {
  width: 100%;
  background-color: #1b2e63;
  background: linear-gradient(270deg, #235aa6, #101b3b);
  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
    -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  z-index: 1;
}
.project-btn .btn-mask:after,
.project-btn .btn-mask:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
}
.project-btn .btn-mask:after {
  width: 80%;
  background-color: #26408b;
  background: linear-gradient(270deg, #235aa6, #213777);
  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 2;
}
.project-btn:hover .btn-mask:before {
  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
    -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
}
.project-btn:hover .btn-mask:after {
  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.project-btn:hover .btn-mask:after,
.project-btn:hover .btn-mask:before {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.project-tech-stack {
  color: white;
  font-size: 1.5rem;
}
.project-tech-stack-details {
  font-size: 1rem;
  font-weight: 400;
}
.project-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.project-mask-number {
  display: none;
}
.project-name-mobile {
  display: none;
}

@media (min-width: 900px) {
  .project:hover .project-details-container {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .project-details-container {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    transition-delay: 0.4s;
  }
  .project-mask-number {
    display: block;
    position: absolute;
    top: -70px;
    right: -45px;
    width: 100%;
    height: 198px;
    font-size: 6rem;
    overflow: hidden;
    color: #99999d;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    transition: opacity 0.3s,
      -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s,
      transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s,
      transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
      -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    z-index: 90;
  }
  .project:hover .project-mask-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .project-mask-number-back,
  .project-mask-number-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .project-mask-number-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: transparent;
  }
  .project-mask-number-overlay,
  .project-mask-number-overlay:before {
    transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s,
      -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
  }
  .project-mask-number-overlay:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: 5px 5px 11px rgba(74, 74, 74, 0.5);
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .project:hover .project-mask-number-overlay,
  .project:hover .project-mask-number-overlay:before {
    transition-delay: 0.4s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@media (max-width: 900px) {
  .project-links-container {
    flex-direction: column;
  }
  .project-right {
    flex-direction: column;
  }
  .project-details-container {
    flex-direction: column;
  }
  .project-name-mobile {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .project:nth-child(1) {
    margin-top: 50px;
  }

  .projects-header,
  .contact-header {
    font-size: 2rem;
  }
  .project-details-container {
    background-color: rgba(0, 0, 0, 0.8);

    height: 100%;
    position: static;
    color: white;
  }

  .project:after {
    display: none;
  }
  .project-left {
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .project-tech-stack-details {
    text-align: center;
  }
  @supports not (
    (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
  ) {
    .project-details-container {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
